<div class="bg-color">
	<h1><u>University Application</u></h1>
	<div class="form-group">
		<label for="universityName">University Name</label>
		<input type="text" class="form-control" [(ngModel)]="name">
	</div>
	<div class="form-group">
		<label for="universityAddress">University Address</label>
		<input type="text" class="form-control" [(ngModel)]="uniAddress">
	</div>
	<div class="form-group">
		<label for="universityPhone">University Phone Number</label>
		<input type="text" class="form-control" [(ngModel)]="uniPhone">
	</div>
	<div class="form-group btn-toolbar">
		<button type="submit" class="btn btn-warning mr-2" (click)="saveUni()"> Save</button>
		<button type="submit" class="btn btn-warning ml-2" (click)="removeUni()"> Delete</button>
	</div>
	<div class="form-group">
		<label for="universityName">Search University by Name</label>
		<input type="text" class="form-control" [(ngModel)]="searchName">
	</div>
	<div class="form-group btn-toolbar">
		<button type="submit" class="btn btn-warning mr-2" (click)="searchUni()"> Search</button>
		<button type="submit" class="btn btn-warning mr-2" (click)="searchAllUni()"> Display Universities</button>
	</div>

	<div *ngIf="uniData.length">
		<table>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Phone</th>
			</tr>
			<tr *ngFor="let universityData of uniData">
				<td>{{universityData.name}}</td>
				<td>{{universityData.address}}</td>
				<td>{{universityData.phone}}</td>
			</tr>
		</table>
	</div>
</div>